
  * {
    box-sizing: border-box;
  }
  
 
  body {
    font-family: Arial;
    margin: 0;
  }
  
  
  .header {
    padding: 60px;
    text-align: center;
    background-image: url(/billeder/billede-af-blomstereng.jpg);
    opacity: 50%;
    color: white;
  }
  
 
  /* styler menubar men ikke indholdet */
  .navbar {
    display: flex;
    flex-direction: row;
    background-color: #005D43;
    height: auto;
  }

  ul {
    width: 100%;
    margin: 5px 20px;
    padding: 0px;
  }

  
  /* styler link i menubaren, men ikke knappen */
  .navbar a {
    color: black;
    background: radial-gradient(white, #B4E8EC,  grey );
    padding: 5px 15px;
    margin: 0px 5px;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
  }
  
  
  .navbar a:hover {
    background: #ddd;
    color: black;
    cursor: pointer;
    box-shadow: 5px 8px 16px 5px rgba(250, 248, 248, 0.2);
  }

 /* styler blog knappen */
  .dropbtn {
    display: inline-block;
    color: black;
    background: radial-gradient(white, #B4E8EC,  grey );
    padding: 5px 15px;
    margin: 0px 5px;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
  }
  
  .dropbtn:hover  {

    background: #ddd;
    color: black;
    cursor: pointer;
    box-shadow: 5px 8px 16px 5px rgba(250, 248, 248, 0.2);
  }

  .dropbtn:focus {
    display: inline-block;
    color: black;
    background: radial-gradient(white, #B4E8EC,  grey );
    padding: 5px 15px;
    margin: 0px 5px;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    outline: none;
  }
  
  /* styler drop down boksen generelt */
  .dropdown {
    position: relative;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* styler drop down boksens udseenden */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #005D43;
    border: 2px solid cornsilk;
    border-radius: 10px;
    min-width: 160px;
    padding: 2vw;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* redigerer links i drop down menuen*/
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 3px;
    
  }
  
  .dropdown a:hover 
  {background-color: #ddd;
}
  
  .show 
  {display: block;
}
 
.medlemmer {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;

}



    .dolleris{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: whitesmoke;
        margin: 25px 0px;
        padding: 5px 10px;
        height: 300px;
        width: 500px;
        border: 2px solid black;
        border-radius: 5px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    }

    img {
        width: 100px;
        height: auto;
        border: 2px solid black;
        border-radius: 5px;
        margin-right: 10px;
    }

    .txt1{
        width: 70%;
        margin-top: 20px;

    }
    

    .lou{
        background-color: whitesmoke;
        margin: 25px 0px;
        padding: 5px 10px;
        height: 300px;
        width: 500px;
        border: 2px solid black;
        border-radius: 5px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .lou img {
        width: 100px;
        border: 2px solid black;
        border-radius: 5px;
    }

    

    .ruben{
        background-color: whitesmoke;
        margin: 25px 0px;
        padding: 5px 10px;
        height: 300px;
        width: 500px;
        border: 2px solid black;
        border-radius: 5px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .ruben img {
        width: 100px;
        border: 2px solid black;
        border-radius: 5px;
    }
    