  * {
    box-sizing: border-box;
  }
  
 
  body {
    font-family: Arial;
    margin: 0;
  }
  
  
  .header {
    display: flex;
    height: 250px;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 207, 177);
    
  }

  h2{
    opacity: 100%;
    color: black;
    font-size: 30px;
    position: absolute;
    left: 10vw;
    top: 6vw;
    text-align: center;
    text-shadow: 2px 2px 5px grey;
   
  }
  h4 {
    opacity: 100%;
    color: black;
    font-size: 25px; 
    position: absolute;
    right: 10vw;
    top: 5vw;
    text-align: center;
    text-shadow: 2px 2px 5px grey;
   
  
  }


  .header img {
    margin: 0px;
    height: 250px;
    
   
  }
  .headerlogo img{
    width: 100px;
    justify-content: center;
    align-items: center;
    
    
}

  
 
  /* styler menubar men ikke indholdet */
  .navbar {
    display: flex;
    flex-direction: row;
    background-color: #005D43;
    border: 2px solid black;
    height: auto;
  }

  ul {
    width: 100%;
    margin: 5px 20px;
    padding: 0px;
  }

  
  /* styler link i menubaren, men ikke knappen */
  .navbar a {
    color: whitesmoke;
    background-color: #024b36;
    padding: 5px 15px;
    margin: 0px 5px;
    border: 2px solid #006339;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
  }
  
  
  .navbar a:hover {
    background: whitesmoke;
    color: black;
    cursor: pointer;
    box-shadow: 5px 8px 16px 5px rgba(10, 10, 10, 0.2);
  }

 /* styler blog knappen */
  .dropbtn {
    display: inline-block;
    color: whitesmoke;
    background-color: #024b36;
    padding: 5px 15px;
    margin: 0px 5px;
    border: 2px solid #005D43;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
  }
  
  .dropbtn:hover  {

    background:whitesmoke;
    color: black;
    cursor: pointer;
    box-shadow: 5px 8px 16px 5px rgba(10, 10, 10, 0.2);
  }

  .dropbtn:focus {
    display: inline-block;
    color: black;
    background-color: whitesmoke;
    padding: 5px 15px;
    margin: 0px 5px;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    outline: none;
  }
  
  /* styler drop down boksen generelt */
  .dropdown {
    position: relative;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* styler drop down boksens udseende */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #005D43;
    border: 2px solid cornsilk;
    border-radius: 10px;
    min-width: 160px;
    padding: 5px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* redigerer links i drop down menuen*/
  .dropdown-content a {
    color:whitesmoke;
    padding: 10px 25px;
    margin: 2px;
    text-decoration: none;
    display: block;
    border: 2px solid black;
    
    
    
  }
  
  .dropdown a:hover 
  {background-color: #ddd;
}
  
  .show 
  {display: block;
}
 
/* Her starter det relle indhold ---------------------------------------------------------------------- */

  .artikelbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vw;
    margin: 10px;
   
   
    
  }
  
  .artikel1{
      border: 3px solid green;
      margin: auto;
      width: 50%;
      height: 100%;
      text-align: center;
 
  }

.pmksystem{
  
  display: block;
  margin: 5px;
  
  width: 25%;
  float: right;
}

h5 {
  text-align: left;
  font-size: larger;
}

ul {
  text-align: left;
}

p {
  text-align: left;
}

  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
 
  .venstre{
    flex: 50%;
    background-color: white;
    padding: 20px;
  }
  
  
  .højre {
    flex: 50%;
    background-color: white;
    padding: 20px;
  }
h6{
    text-align: center;
    font-size: large;

  }
  .box1{
   
    margin-left: auto;
    margin-right: 0px;
    width: 49.2%;
    height: auto;
    border: 3px solid green; 
    color:black;
    text-align: center;
  }

  .byliv {
    width: 40%;
    float: right;
  }


  

  .pbox1{
    text-align: left;

  }

  .box2{
    margin-left: auto;
    margin-right: 0px;
    width: 49.2%;
    height: auto;
    border: 3px solid green; 
    color:black;
    text-align: center;
  }

  .vinter{
    width: 40%;
    float: right;
  }


  .box3{
    margin-left: auto;
    margin-right: 0px;
    width: 49.2%;
    height: auto;
    border: 3px solid green; 
    color:black;
    text-align: center;
  }

  .høns {
    width: 40%;
    float: right;
  }

  h3{
    text-align: center;
    font-size: large;

  }


 .box4{
 
      margin-left: 0px;
      margin-right: auto;
      padding-bottom: 5px;
      width: 49.2%;
      height: auto;
      border: 3px solid green; 
      color:black;
      text-align: center;
    }

    .fællesskab {
      width: 45%;
      float: right;
    }
  

    .box5{ 
      margin-left: 0px;
      margin-right: auto;
      padding-bottom: 5px;
      width: 49.2%;
      height: auto;
      border: 3px solid green; 
      color:black;
      text-align: center;
    }

    .stork {
      width: 45%;
      float: right;
    }
  


    .box6{
      margin-left: 0px;
      margin-right: auto;
      
      width: 49.2%;
      height: auto;
      border: 3px solid green; 
      color:black;
      text-align: center;
    }

    .sæbe {
      width: 40%;
      float: right;
    }

  
  
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #005D43;
    border: 4px solid  black;
    width: 100%;
  }

  
 

  .h3 {
    text-align: center;
    color: #B4E8EC;
    text-shadow: 2px 2px 5px black;
      
  }

  .footerlogo{
    width: 70px;
    justify-content: center;
    align-items: center;
  }   

.some{
  width: auto;
  
}

.telefon {
  margin: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.mail{
  margin: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.insta{
  margin: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.fb{
  margin: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}