


.mørkegrøn{
    color: #005D43;
   

}
.grøn{
    color:#006339
}

.lysegrøn{
   color: #009B5C 
}

.grønblå{
    color:#00B897
}

.lyseblå{
    color:#B4E8EC
}

.font {
    font-family: aileron;
}


